<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  <ion-title class="ion-text-center"> {{ 'PAGE.EVENTS.TITLE' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src=""/>
    <ion-card-header>
      <ion-card-subtitle>Juego del evento</ion-card-subtitle>
      <ion-card-title>Titulo del evento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Descripción de prueba sobre el evento
    </ion-card-content>
  </ion-card>
</ion-content>
