<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button> </ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <div style="width: 48px"></div>
      </ion-buttons>
      <ion-title class="ion-text-center">{{'PAGE.CATEGORIA.TITLE' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid class="gridCategoria">
    <ion-row>
      <ion-label class="titol-categoria"><font color = black>{{'PAGE.CATEGORIA.LABELSELECTED' | translate}}: </font><font color = #64C995>{{nomCategoria}}</font></ion-label>
      <ion-label class="num-categoria">{{'PAGE.CATEGORIA.LABELNUMBER' | translate}}: 10</ion-label>
    </ion-row>
    <ion-row>
      AAAA
    </ion-row>
  </ion-grid>
</ion-content>
