<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Jocs</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-label class="titol">{{ 'PAGE.GAMES.DESCRIPTION' | translate }}</ion-label>
  </ion-row>
  <ion-row>
    <ion-img class="image" *ngFor="let g of games" [src]="g.image_url"></ion-img>
  </ion-row>

</ion-content>
