
.titol {
    margin-top: 40px;
    text-align: center;
    font-size: 150%;
    margin-right: 20px;
    margin-left: 20px;
}

.image {
    height: 260px;
    width: 165px;
    margin-left: 20px;
    margin-right: 20px;
}