
.titol {
    margin-top: 40px;
    text-align: center;
    font-size: 150%;
    margin-right: 20px;
    margin-left: 20px;
}

.image {
    height: 340px;
    width: 245px;
   // margin-left: 20px;
   // margin-right: 20px;
}

.centriño {
    display: flex;
    justify-content: center;
    align-items: center;
}