ion-toolbar {
  --background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.avatar {
  width: 150px;
  height: 150px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top {
  margin-top: 10%;
}

ion-button {
  font-size: 12pt;
}

.logo {
  width: 45%;
}
