<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/config']">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="margin-top">
    <ion-row>
      <ion-col class="flex">
        <ion-avatar class="avatar">
          <img src="https://images.mediotiempo.com/LRmC3OgFDcX90qW7IEMut31QY78=/958x596/uploads/media/2019/05/07/avatar-sera-dividida-en-cinco.jpg">
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="flex">
        <ion-label>User Name</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="margin-top">
      <ion-col>
        <ion-button class="ion-margin-start" expand="full" size="large">Informació</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="ion-margin-end" expand="full" size="large">Jocs</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="ion-margin-start" expand="full" size="large">Seguidors</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="ion-margin-end"d expand="full" size="large">Seguits</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="ion-margin-start" expand="full" size="large">Publicacions</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="ion-margin-end" expand="full" size="large">M'agrada</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col class="flex">
        <ion-img class="logo" src="../../assets/logo.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>






</ion-content>
