<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" style="position: absolute;">
          <ion-back-button> </ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{ 'PAGE.TERMES.TITLE' | translate}}</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="gridLegal">
    <ion-col>
      <ion-row>
          <ion-label color="primary" style="font-weight: bold;">{{ 'PAGE.TERMES.LABELRPOTECCIODEDADES' | translate}}</ion-label>
          <p>{{ 'PAGE.TERMES.TEXTPROTECCIODEDADES1' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.TEXTPROTECCIODEDADES2' | translate}}</p>
      </ion-row>
      <hr>
      <ion-row>
          <ion-label color="primary" style="font-weight: bold;">{{ 'PAGE.TERMES.LABELPOLITICADEPRIVACITAT' | translate}}</ion-label>
          <ion-label color="primary" style="margin-top:20px;">{{ 'PAGE.TERMES.LABELPREGUNTA1' | translate}}</ion-label>
          <p>{{ 'PAGE.TERMES.LABELRESPOSTA11' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA12' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA13' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA14' | translate}}</p>
          <ion-label color="primary" style="margin-top:20px;">{{ 'PAGE.TERMES.LABELPREGUNTA2' | translate}}</ion-label>
          <p>{{ 'PAGE.TERMES.LABELRESPOSTA21' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA22' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA23' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA24' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA25' | translate}}</p>
          <ion-label color="primary" style="margin-top:20px;">{{ 'PAGE.TERMES.LABELPREGUNTA3' | translate}}</ion-label>
          <p>{{ 'PAGE.TERMES.LABELRESPOSTA31' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA32' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA33' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA34' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA35' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA36' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA37' | translate}}</p>
          <ion-label color="primary" style="margin-top:20px;">{{ 'PAGE.TERMES.LABELPREGUNTA4' | translate}}</ion-label>
          <p>{{ 'PAGE.TERMES.LABELRESPOSTA41' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA42' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA43' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA44' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA45' | translate}}</p>
          <ion-label color="primary" style="margin-top:20px;">{{ 'PAGE.TERMES.LABELPREGUNTA5' | translate}}</ion-label>
          <p>{{ 'PAGE.TERMES.LABELRESPOSTA51' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA52' | translate}}</p>
          <ion-label color="primary" style="margin-top:20px;">{{ 'PAGE.TERMES.LABELPREGUNTA6' | translate}}</ion-label>
          <p>{{ 'PAGE.TERMES.LABELRESPOSTA61' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA62' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA63' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA64' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA65' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA66' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA67' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA68' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA69' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA610' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA611' | translate}}</p>
          <p style="margin-top:0px;">{{ 'PAGE.TERMES.LABELRESPOSTA612' | translate}}</p>    
      </ion-row>
      <ion-row style="margin-top:20px;">
        <ion-label class="nom-aplicacio">
            <font color = #64C995>{{ 'PAGE.TERMES.LABELULTIMAMODIFICACIO' | translate}}:</font><font color = black> 01-11-2019</font>  
        </ion-label>
      </ion-row>
    </ion-col>
  </ion-grid>

</ion-content>
