<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" style="position: absolute;">
          <ion-back-button> </ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{ 'PAGE.TERMES.TITLE' | translate}}</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
          <ion-label color="primary" style="font-weight: bold;">{{ 'PAGE.TERMES.LABELRPOTECCIODEDADES' | translate}}</ion-label>
          <p>{{ 'PAGE.TERMES.TEXTPROTECCIODEDADES1' | translate}}</p>
          <p>{{ 'PAGE.TERMES.TEXTPROTECCIODEDADES2' | translate}}</p>
      </ion-row>
      <hr>
      <ion-row>
          <ion-label color="primary" style="font-weight: bold;">{{ 'PAGE.TERMES.LABELPOLITICADEPRIVACITAT' | translate}}</ion-label>
          <ion-label color="primary">{{ 'PAGE.TERMES.LABELPREGUNTA1' | translate}}</ion-label>
          <p>{{ 'PAGE.TERMES.LABELRESPOSTA11' | translate}}</p>
          <p>{{ 'PAGE.TERMES.LABELRESPOSTA12' | translate}}</p>
          <p>{{ 'PAGE.TERMES.LABELRESPOSTA13' | translate}}</p>
          <p>{{ 'PAGE.TERMES.LABELRESPOSTA14' | translate}}</p>
          <ion-label color="primary">{{ 'PAGE.TERMES.LABELPREGUNTA2' | translate}}</ion-label>
          <p>{{ 'PAGE.TERMES.LABELRESPOSTA2' | translate}}</p>
          <ion-label color="primary">{{ 'PAGE.TERMES.LABELPREGUNTA3' | translate}}</ion-label>
          <p>{{ 'PAGE.TERMES.LABELRESPOSTA3' | translate}}</p>
          <ion-label color="primary">{{ 'PAGE.TERMES.LABELPREGUNTA4' | translate}}</ion-label>
          <p>{{ 'PAGE.TERMES.LABELRESPOSTA4' | translate}}</p>
          <ion-label color="primary">{{ 'PAGE.TERMES.LABELPREGUNTA5' | translate}}</ion-label>
          <p>{{ 'PAGE.TERMES.LABELRESPOSTA5' | translate}}</p>
          <ion-label color="primary">{{ 'PAGE.TERMES.LABELPREGUNTA6' | translate}}</ion-label>
          <p>{{ 'PAGE.TERMES.LABELRESPOSTA6' | translate}}</p>
      </ion-row>
    </ion-col>
  </ion-grid>

</ion-content>
