ion-toolbar {
  --background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  margin-top: 30%;
}