<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ 'PAGE.CONFIGURACIO.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row style="margin-top: 5%">
      <ion-item lines="none">
          <ion-label class="text-explicacio"> {{ 'PAGE.CONFIGURACIO.PRIVACITY' | translate }}</ion-label>
          <ion-toggle  id="privacitat" (ionChange)="sendInfo()" value="private" [(ngModel)]="private"></ion-toggle>
      </ion-item>
    </ion-row>
    <ion-row style="margin-top: 5%">
      <ion-item lines="none">
          <ion-label class="text-explicacio"> {{ 'PAGE.CONFIGURACIO.NOTIFY' | translate }}</ion-label>
          <ion-toggle  id="notificacions" (ionChange)="sendInfo()"  value="notification" [(ngModel)]="notification"></ion-toggle>
      </ion-item>
    </ion-row>
      <ion-row style="margin-top: 5%">
          <ion-radio-group   class="text-explicacio">
              <ion-list-header>
                  <ion-label class="ion-margin-start"> {{ 'PAGE.CONFIGURACIO.IDIOMES' | translate }}</ion-label>
              </ion-list-header>
              <ion-row >
                  <ion-col>
                      <ion-item lines="none">
                          <ion-img class="imatge" src= "assets/icon/eng.png" ></ion-img>
                          <ion-radio (ionSelect)="changeL('en')" slot="start" value="eng" [checked]="enS"></ion-radio>
                      </ion-item>
                  </ion-col>
                  <ion-col>
                      <ion-item lines="none">
                          <ion-img class="imatge" src= "assets/icon/esp.png" ></ion-img>
                          <ion-radio (ionSelect)="changeL('es')" slot="start"  value="esp" [checked]="esS"></ion-radio>
                      </ion-item>
                  </ion-col>
                  <ion-col>
                      <ion-item lines="none">
                          <ion-img class="imatge" src= "assets/icon/cat.png" ></ion-img>
                          <ion-radio (ionSelect)="changeL('cat')" slot="start" value="cat" [checked]="catS"></ion-radio>
                      </ion-item>
                  </ion-col>
              </ion-row>
          </ion-radio-group>
      </ion-row>
    <ion-row style="vertical-align: bottom;">
      <ion-col class="flex" style="position: fixed;bottom: 33px;">
        <div style="margin: 0 auto; bottom: 30px; display:flex">
          <ion-button (click)="close()">{{ 'PAGE.CONFIGURACIO.CLOSE' | translate }}</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
