<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button> </ion-back-button>
      </ion-buttons>
    <ion-title class="ion-text-center"> {{ 'PAGE.EDITAR.TITLE' | translate }} </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
        <ion-row style="margin-top: 20%" >
         <video width="100%" controls> 
           <source [src]="'http://sharefy.tk' + path" type='video/mp4'>
         </video>
        </ion-row>
        <ion-row style="margin-top: 15%">
          <ion-item lines=none>
            <ion-label>{{ 'PAGE.EDITAR.GAMES' | translate }}</ion-label>
            <ion-select [(ngModel)]="newSel"  [selectedText]="newSel" interface="popover" class="select"> 
              <ion-select-option *ngFor="let g of games"> {{g.name}} </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-label style="margin-top: 5%; margin-left: 4.3%;">{{ 'PAGE.EDITAR.DESCRIPTION' | translate }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-textarea [(ngModel)]="desc" style="margin-left: 1.8%"></ion-textarea>
        </ion-row>
        <ion-row>
          <ion-button color=primary style="margin:0 auto; margin-top: 10%;" (click)=save()>{{ 'PAGE.EDITAR.SAVE' | translate }}</ion-button>
        </ion-row>
    </ion-grid>
  </ion-content>
  