<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <div style="width: 48px"></div>
    </ion-buttons>
    <ion-title class="ion-text-center">publi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="Usuari">
    </ion-row>
    <ion-button (click)="onClick()"></ion-button>
  </ion-grid>

  <app-publicacio *ngIf="carregat" [numLikes]="dadesPublicacio.num_likes" [idp]="dadesPublicacio.id" [username]="dadesPublicacio.user.username" [video]="dadesPublicacio.video_path" [des]="dadesPublicacio.text" [photo]="dadesPublicacio.user.photo_path" [game]="dadesPublicacio.game.name_en"></app-publicacio>
</ion-content>
