<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <div style="width: 48px"></div>
    </ion-buttons>
    <ion-title class="ion-text-center">{{'PAGE.VISTAPUBLICACIO.TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <app-publicacio *ngIf="carregat" [numLikes]="dadesPublicacio.num_likes" [idp]="dadesPublicacio.id" [username]="dadesPublicacio.user.username" [video]="dadesPublicacio.video_path" [des]="dadesPublicacio.text" [photo]="dadesPublicacio.user.photo_path" [game]="dadesPublicacio.game.name_en"></app-publicacio>
    </ion-row>
    <ion-row *ngFor="let comentari of comentaris; let i=index" style="margin-left:5%"> 
      <ion-col size="auto" class="comm" *ngIf="i<3">
        <ion-avatar class="avatar-porfile">
          <ion-img alt="" [src]="'http://sharefy.tk' + comentari.user.photo_path"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col *ngIf="i<3">
        <ion-row class="comm">
          <ion-text class="auto-name"><b>{{ comentari.user.username }}</b></ion-text>
        </ion-row>
        <ion-row>
          {{comentari.text}}
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="button-final"><a (click)="goToComentaris()">{{'PAGE.VISTAPUBLICACIO.TEXTALLCOMMENTS' | translate}}</a></ion-row>
    <ion-row style="justify-content: center;"><a (click)="goToMur()">{{'PAGE.VISTAPUBLICACIO.TEXTGOTOMUR' | translate}}</a></ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar class="new-background-color">
    <ion-input placeholder="{{ 'PAGE.COMMENTS.PLACEHOLDER' | translate }}" [(ngModel)]="nouComentari"></ion-input>
    <ion-buttons slot="primary"><ion-button color="primary" (click)="afegirComentari()" style="text-transform: none;">{{ 'PAGE.COMMENTS.AFEGIR' | translate }}</ion-button></ion-buttons>
  </ion-toolbar>
</ion-footer>
