<ion-content>
  <ion-grid class="center">
    <ion-row>
      <ion-col class="flex">
        <ion-button [routerLink]="['/tabs']"> LogIn </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="flex">
        <ion-button [routerLink]="['/registre']"> Registre </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="flex">
        <ion-button [routerLink]="['/recuperar']"> Recuperar </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
