<ion-content>
  <ion-grid class="center">
    <ion-row>
      <ion-col class="flex">
        <ion-button [routerLink]="['/tabs']"> {{ 'PAGE.LOGIN.BUTTONLOGIN' | translate }} </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="flex">
        <ion-button [routerLink]="['/registre']"> {{ 'PAGE.LOGIN.BUTTONREGISTRE' | translate }} </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="flex">
        <ion-button [routerLink]="['/recuperar']"> {{ 'PAGE.LOGIN.BUTTONRECUPERAR' | translate }} </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
