<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> {{ 'PAGE.INFORMACIO.TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col class="flex">
        <ion-avatar class="avatar">
          <ion-img (click)="selectImage()" src="https://images.mediotiempo.com/LRmC3OgFDcX90qW7IEMut31QY78=/958x596/uploads/media/2019/05/07/avatar-sera-dividida-en-cinco.jpg"></ion-img>
          <ion-icon (click)="selectImage()"  class="icon" name="camera"></ion-icon>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-list class="ion-margin-start" lines="none">
      <ion-item>
        <ion-label color="primary" position="stacked">User Name</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">First Name</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">Last Name</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">Tel.</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Email</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row style="vertical-align: bottom;">
      <ion-col class="flex" style="position: fixed;bottom: 33px;">
        <div style="margin: 0 auto; bottom: 30px; display:flex">
          <ion-button (click)="guardar()">Guardar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
