.avatar {
  width: 164px;
  height: 164px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top {
  margin-top: 10%;
}

.icon {
    font-size: 64px;
    color: white;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
}

.item_registre {
  width: 100%;
  margin-bottom: 10px;
}

.error_message{
  color: red;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 2px;
}

ion-checkbox {
  margin: 0;
}
