<ion-grid>
  <ion-row class="Usuari">
    <ion-col>
      <ion-button fill="clear" (click)="gotoporfile()">
      <ion-avatar class="avatar">
        <ion-img alt="" src="../assets/blacksquare.png"></ion-img>
      </ion-avatar>
      <ion-label class="nom-usuari">Faker</ion-label>
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-right">   
      <app-pop-aplicacio></app-pop-aplicacio>
      <ion-button fill="clear" class="buto-config" (click)="presentPopOver($event)"><ion-icon name="more"></ion-icon></ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="row-video-container">
    <div>
      <ion-item fill="clear" (click)="startvideo()">
        <ion-img class="video-container" src="../assets/logo.png"></ion-img>
      </ion-item>
    </div>
  </ion-row>
  <ion-row class="row-likes">
    <ion-button fill="clear" (click)="blike()" > <ion-icon [name]="like ? 'heart' :'heart-empty'"></ion-icon></ion-button>
    <ion-text color="primary" [(ngModel)]="StrNLikes">{{ StrNLikes }}</ion-text>
    <ion-button fill="clear"><ion-icon name="chatboxes"></ion-icon></ion-button>
    <ion-button class="boto-share" fill="clear"><ion-icon name="share"></ion-icon></ion-button>
  </ion-row>
  <ion-list>
    <ion-item *ngFor="let c of commentaris">
      <ion-avatar slot="start">
        <img src="../assets/blacksquare.png">
      </ion-avatar>
      <ion-label>
        <h2>Paker</h2>
        <p>Yooooo thats facking nice</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-grid>