.Usuari {
    display: flex;
    justify-content: left;
    align-items: center;
}

.row-des {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 7%;
    margin-right: 32px;
}

.row-likes-comm {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 8%;
    margin: 1%;
}

.row-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    width: 350px;
    height: 200px;
}

.avatar {
    width: 35px;
    height: 35px;
}

.auto {
    width: -webkit-fill-available;
    padding-right: 16px;
}

