<ion-grid>
  <ion-row class="Usuari">
    <ion-col>
      <ion-button fill="clear" (click)="gotoporfile()">
      <ion-img class="profile-photo" src="../assets/blacksquare.png"></ion-img>
      <ion-label class="nom-usuari">Faker</ion-label>
      </ion-button>
    </ion-col>
    <ion-col text-right>   
      <ion-button fill="clear" class="buto-config"><ion-icon name="more"></ion-icon></ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="row-video-container">
    <div>
      <ion-item fill="clear" (click)="startvideo()">
        <ion-img class="video-container" src="../assets/logo.png"></ion-img>
      </ion-item>
    </div>
  </ion-row>
  <ion-row class="row-likes">
    <ion-button fill="clear" (click)="blike()" > <ion-icon [name]="like ? 'heart' :'heart-empty'"></ion-icon></ion-button>
    <ion-button fill="clear"><ion-icon name="chatboxes"></ion-icon></ion-button>
    <ion-col class="Likes-publi">
      <ion-text [(ngModel)]="StrNLikes">{{ StrNLikes }}</ion-text>
    </ion-col>
  </ion-row>
</ion-grid>