.Usuari {
    display: flex;
    justify-content: left;
    align-items: center;
}

.Likes-publi {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 4%;
}

.nom-usuari {
    padding-left: 17%;
}

.row-likes {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 7%;
}
.row-des {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 7%;
    margin-bottom: -50px;
    margin-right: 32px;
}

.row-likes-comm {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 8%;
    margin: 1%;
}

.row-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    width: 350px;
    height: 200px;
}

.avatar {
    width: 35px;
    height: 35px;
}

.boto-share {
    padding-left: 215px;
}

.padding-des {
    padding-left: 2%;
}

