<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ 'PAGE.ADD.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="divv">
    <ion-textarea placeholder="Description" [(ngModel)]="desc"></ion-textarea>
    <ion-row style="margin-top: 10%" class="box">
      <ion-item lines=none>
         <ion-label>{{ 'PAGE.EDITAR.GAMES' | translate }}</ion-label>
        <ion-item style="width:100%">
          <ion-label>{{ 'PAGE.MODALCONVIDAR.TEXTMODAL' | translate}}</ion-label>
          <ion-select style="width: 500px" [(ngModel)]="newSel" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'PAGE.MODALCONVIDAR.PLACEHOLDERSELECT' | translate}}">
            <ion-select-option *ngFor="let joc of games" value="{{joc.name_en}}">{{joc.name_en}}</ion-select-option>
          </ion-select>
        </ion-item>
<!--        <ion-select  [(ngModel)]="newSel"  [selectedText]="newSel" interface="popover" class="select">-->
<!--          <ion-select-option *ngFor="let g of games"> {{g.name_en}} </ion-select-option>-->
<!--        </ion-select>-->
      </ion-item>
    </ion-row>
    <ion-button style="margin-top: 10%" (click)="UploatFile()">{{ 'PAGE.ADD.BUTTON' | translate }}</ion-button>
  </div>
</ion-content>
