<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>
            </ion-back-button>
        </ion-buttons>
      <ion-title class="ion-text-center" > {{ Perfiluser }} </ion-title>
      <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="heart"></ion-icon>
          </ion-button>
          <ion-button *ngIf="esell" [routerLink]="['/informacio']">
            <ion-icon name="person"></ion-icon>
          </ion-button>
        <ion-button *ngIf="esell" [routerLink]="['/config']">
          <ion-icon  name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-grid class="margin-top">
          <ion-row>
            <ion-col class="flex">
              <ion-avatar class="avatar">
                <img alt="" [src]="pathFotoPerfil">
              </ion-avatar>
            </ion-col>
            <ion-col class="item2">
              <div>
                <p>{{ npubli }}</p>
                <p>{{ 'PAGE.PERFIL.NPUBLICACIONS' | translate }}</p>
              </div>
            </ion-col>
            <ion-col class="item2">
              <div (click)="go_to_follow(0)">
                <p>{{ nseguid }}</p>
                <p>{{ 'PAGE.PERFIL.NSEGUIDORS' | translate }}</p>
              </div>
            </ion-col>
            <ion-col class="item2">
              <div (click)="go_to_follow(1)">
                <p>{{ nseguit }}</p>
                <p>{{ 'PAGE.PERFIL.NSEGUITS' | translate }}</p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!esell">
              <ion-col class="flex">
                    <ion-button *ngIf="!seguint" color="primary" (click)="Follow()">{{ 'PAGE.PERFIL.BUTTONSEGUIR' | translate }}</ion-button>
                    <ion-button *ngIf="seguint" color="secondary" (click)="Follow()">{{ 'PAGE.PERFIL.BUTTONSEGUINT' | translate }}</ion-button>
              </ion-col>
              <ion-col *ngIf="seguint" class="flex">
                <ion-button [color]="seguint ? 'secondary' :'primary'" (click)="presentModal()">{{ 'PAGE.PERFIL.INVITA' | translate }}</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="(esell && !noPubli) || ((public == true || seguint == true) && !noPubli)">
                <div *ngFor="let publi of publicacio">
                    <app-publicacio [numLikes]="publi.num_likes" [idp]="publi.id" [username]="publi.user.username" [video]="publi.video_path" [des]="publi.text" [photo]="publi.user.photo_path"></app-publicacio>
                </div>
            </ion-col>
            <ion-col *ngIf="public == false && seguint == false">
              <div class="item">
                <ion-icon name="lock" style="font-size: 128px; margin-top: 32px;"></ion-icon>
                <p style="font-size: x-large;">{{ 'PAGE.PERFIL.NOSEGUINT' | translate }}</p>
              </div>
            </ion-col>
            <ion-col *ngIf="(noPubli && public == true) || (seguint && noPubli)" class="item">
                <ion-icon name="ios-videocam" style="font-size: 128px; margin-top: 32px;"></ion-icon>
                <p style="font-size: x-large;">{{ 'PAGE.PERFIL.TEXTTEPUBLI' | translate }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        
  
  </ion-content>