.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.avatar {
    width: 90px;
    height: 90px;
}

.item {
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
}
.item2 {
    text-align:center;
    display:block;
    background-color: transparent;
}

