.searchBar{
    --background: white;
    --icon-color: var(--ion-color-primary);
    --color: var(--ion-color-primary);
}

.gridBuscar {
    padding: 5%;
}

.people-row {
    border-bottom: 1px solid var(--ion-color-primary);
    border-top: 1px solid var(--ion-color-primary);
    width: 100%;
    margin-bottom: 2px;
}

.nom-llista {
    font-size: 10pt; 
    max-width: 100%; 
}

.selects {
    width: 100% !important;
}