<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <div style="width: 48px"></div>
    </ion-buttons>
    <ion-title class="ion-text-center">{{'PAGE.BUSCAR.TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="gridBuscar">
    <ion-row>
      <ion-searchbar showCancelButton="never" class="searchBar" animated="true" placeholder="{{'PAGE.BUSCAR.PLACEHOLDERSEARCHBAR' | translate}}" [(ngModel)]="entradaBuscador" (ionChange)="comprovarEntrada()"></ion-searchbar>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row *ngFor="let resultat of resultatsFiltrats" class="people-row">
          <ion-col size="2">
            <ion-img [src]="resultat.foto" style="height: 55px;"></ion-img>
          </ion-col>
          <ion-col size="5" style="align-self: center">
            <p class="nom-llista"> {{resultat.nom}} </p>
          </ion-col>
          <ion-col size="5" style="align-self: center">
            <ion-row style="justify-content: center;">
              <ion-button expand="block" fill="outline" *ngIf="resultat.tipus=='joc'" color="tertiary" size="small" style="text-transform: none; width: 100%;">
                <ion-icon name="logo-game-controller-b" style="margin-right:3px;"></ion-icon>{{ 'PAGE.BUSCAR.BUTTONGAMES' | translate}}
              </ion-button>
              <ion-button expand="block" fill="outline" *ngIf="resultat.tipus=='usuari'" color="primary" size="small" style="text-transform: none; width: 100%;">
                <ion-icon name="contact" style="margin-right:3px;"></ion-icon>{{ 'PAGE.BUSCAR.BUTTONUSER' | translate}}
              </ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
