.avatar-porfile {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
}

.avatar {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
}

.comm {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 0%;
}

.boto {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-bottom: 0%;
}

.auto-name {
    font-size: 130%;
    width: -webkit-fill-available;

}

.auto-margin {
    width: -webkit-fill-available;
    margin-top: 4px;
}

hr {
    width: auto ;
    border-width: 1px;
    box-sizing: content-box;
    color: black;
}

.bar {
    color: #000;
    background-color: aqua;
    background: white;
    }

.new-background-color{
    --background: white;
    color: black;
}