<ion-header>
  <ion-toolbar style="background-color: red">
      <ion-buttons slot="start">
          <ion-back-button>
      
          </ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">{{ 'PAGE.COMMENTS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="auto" class="comm">
          <ion-avatar class="avatar-porfile">
            <ion-img alt="" [src]="'http://sharefy.tk' + ownerphoto"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col class="comm" ><ion-text class="auto-name"><b>{{ ownername }}</b></ion-text></ion-col>
      </ion-row>
      <ion-row><ion-text class="auto-margin">{{ des }}</ion-text></ion-row>
      <hr>
      <ion-row *ngFor="let comm of comentaris" class="row-des">
        <ion-grid>
            <ion-row>
              <ion-col size="auto" class="comm">
                <ion-avatar class="avatar">
                  <ion-img alt="" [src]="'http://sharefy.tk' + comm.img"></ion-img>
                </ion-avatar>
              </ion-col>
              <ion-col class="ion-padding-bottom" class="comm"><ion-text (click)="goperfiluser(comm.name)"><p><b>{{ comm.name }}</b></p></ion-text></ion-col>
              <ion-col><ion-icon name="trash" *ngIf="comm.name === user" (click)="BorrarCom(comm.id)" class="ion-float-right" style="margin-top: 16px;"></ion-icon></ion-col>
            </ion-row>
            <ion-row><ion-text class="auto-margin">{{ comm.text }}</ion-text></ion-row>
          </ion-grid>
      </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar class="new-background-color">
      <ion-input placeholder="{{ 'PAGE.COMMENTS.PLACEHOLDER' | translate }}" [(ngModel)]="Inpu"></ion-input>
      <ion-buttons slot="primary"><ion-button color="primary" (click)="AfegirCom()" style="text-transform: none;">{{ 'PAGE.COMMENTS.AFEGIR' | translate }}</ion-button></ion-buttons>
    </ion-toolbar>
  </ion-footer>

  
