.ion-text-center {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.image {
    height: 250px;
    width: 155px;
    align-self: center;
    margin: auto;
    margin-top: 15px;
}

.descrip {
    text-align: center;
    align-self: center;
    font-size: 120%;
    margin: auto;
}