<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> {{joc}} </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="col">
      <ion-img class="image"  [src]=imatge></ion-img>
    </ion-col>
    <ion-col>
      <div class="text">
        <ion-label color="primary">44 {{ 'PAGE.PROFILEGAMES.PUBLICATIONS' | translate }} <br> <br> <br>  </ion-label>
        <ion-label class="desc">{{descripcio}} </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    
  </ion-row>
</ion-content>
