<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ 'PAGE.MUR.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/config']">
        <ion-icon  name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/afegir']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div *ngIf="!pub">
    <div *ngFor="let publi of publicaci">
      <app-publicacio *ngIf="publi.id_game !== null" [numLikes]="publi.num_likes" [idp]="publi.id" [username]="publi.user.username" [video]="publi.video_path" [des]="publi.text" [photo]="publi.user.photo_path" [game]="publi.game.name_en"></app-publicacio>
    </div>
  </div>
  <div *ngIf="pub" class="divv">
    <p color="primary">{{ 'PAGE.MUR.TEXTNOPUB' | translate }}</p>
  </div>
</ion-content>
