
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button> </ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center"> {{ 'PAGE.RECUPERAR.TITLE0' | translate }} </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content (click)="getCoordinates($event)" >
    <ion-grid>
        <ion-row  class="text-explicacio">
            <ion-icon class="icono-gran" name="lock"></ion-icon>
            <ion-text class="ion-margin">
                {{ 'PAGE.RECUPERAR.DESCRIPTION' | translate }}
            </ion-text>
            <ion-item>
                <ion-input id="mail" class="center" [(ngModel)]="recMail" placeholder="Email" type="email"></ion-input>
            </ion-item>
        </ion-row>
        <ion-row class="flex">
            <ion-button class="boto-enviar" (click)="enviarMail()">{{ 'PAGE.RECUPERAR.BUTTON1' | translate }}</ion-button>
        </ion-row>
    </ion-grid>
</ion-content>
