<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button> </ion-back-button>
      </ion-buttons>
    <ion-title class="ion-text-center"> {{ 'PAGE.COMPARTIR.TITLE' | translate }} </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row style="margin-top: 5%">
        <ion-item>
          <ion-row class="text-explicacio">
              <ion-text class="ion-margin">
                  {{ 'PAGE.COMPARTIR.DESCRIPTION' | translate }}
              </ion-text>
          </ion-row>
        </ion-item>
      </ion-row>
    </ion-grid>
  </ion-content>
  